.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul.striped-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.striped-list > li {
    border-bottom: 1px solid rgb(221,221,221);
    padding: 6px;
}
ul.striped-list > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}
ul.striped-list > li:last-child {
    border-bottom: none;
}

#set-reporter-location-btn {
    background-color: #FA6E4F;
    border: #FA6E4F;
}
#send{
    background-color: #FA6E4F;
    border: #FA6E4F;
}

#back{
    background-color: #FA6E4F;
    border: #FA6E4F;
}
#set-reporter-location-btn:hover {
    background-color: #f5421b;
    
}
#send:hover{
    background-color: #f5421b;
   
}
#back:hover{
    background-color:#f5421b;
}

#myBtn {
    background-color: #FA6E4F;
    border: #FA6E4F;
}
#myBtn:hover{
    background-color:#f5421b;
}